section.end
    .end-title
        .end-title__title Let’s make something <br> amazing together.
        .yellow-link 
            a(href="") &nbsp;&nbsp; let`s get started
    .container 
        .end-contacts 
            .end-contacts__item
                .end-contacts__item-first Phone
                .end-contacts__item-second +32 50 31 28 32
            .end-contacts__item
                .end-contacts__item-first Address
                .end-contacts__item-second 491 Merlin Crest Suite 963
        .end-second
            .end-menu
                .end-menu__services
                    .end-menu-name Services
                    .end-menu__item
                        a(href="#") Strategy Design
                    .end-menu__item
                        a(href="#") Product Design
                    .end-menu__item
                        a(href="#") Content Strategy
                    .end-menu__item
                        a(href="#") Brand Strategy
                    .end-menu__item
                        a(href="#") Development

                .end-menu__help
                    .end-menu-name Help And Advice
                    .end-menu__item
                        a(href="#") How it works
                    .end-menu__item
                        a(href="#") Contact Support
                    .end-menu__item
                        a(href="#") Privacy Policy
                    .end-menu__item
                        a(href="#") FAQ

                .end-menu__company
                    .end-menu-name Company
                    .end-menu__item
                        a(href="#") About
                    .end-menu__item
                        a(href="#") Blog
                    .end-menu__item
                        a(href="#") Contact
                    .end-menu__item
                        a(href="#") Jobs

            .end-get 
                .end-get__title Get in Touch
                .end-get__text Feel free to get in touch with us vai email
                .end-get__link info.webovio@gmail.com
                .end-get__buble
                    .end-get__buble-item
                    .end-get__buble-item
                    .end-get__buble-item
                    .end-get__buble-item
        
        .end-end
            .end-end__logo
                img.end-logo(src='../images/end-logo.avif')
            .end-end__copy © 2020@webovio. All Rights Reserved.