.ideas-item
    .ideas-item__name Product Design Sprint
    .ideas-item__text A five-day workshop that will help you answer crucial business questions
    .yellow-link 
        a(href='#') &nbsp;&nbsp; Read More
