.review
    .review-box
        .review-box__text With More than 10 Years of Knowledge and Expertise we Design and Code Websites and Apps, We Build Brands and Help Them Succeed
        .review-box__who
            .review-box__who-img
                img(src='../images/review1.avif')
            .review-box__who-name
                .review-box__who-name__first Genevieve Rodriquez
                .review-box__who-name__second Founder & CEO, Webovio