.ideas-item
    .ideas-item__name Scoping Session
    .ideas-item__text A workshop aimed at shaping your business idea, answering questions regarding project planning
    .yellow-link 
        a(href='#') &nbsp;&nbsp; Read More
