.review
    .review-box
        .review-box__text “In my history of working with trade show vendors, I can honestly say that there is not one company that I've ever worked with that has better service than Exhibit Systems.”
        .review-box__who
            .review-box__who-img
                img(src='../images/oval-angel.avif')
            .review-box__who-name
                .review-box__who-name__first Angel Armstrong
                .review-box__who-name__second Founder & CEO, Google