.menu
    .menu-logo
        img.bg-lg(src='../images/logo-top.png')
    .menu-burger
        span
        span
        span

.list 
    ul.list
        li.list-item
            a(href='#').list__link link1
        li.list-item
            a(href='#').list__link link2
        li.list-item
            a(href='#').list__link link3
        li.list-item
            a(href='#').list__link link4