section.project.one
    .container 
        include ../../blocks_s/title/title
        .project-inner 
            include ../../blocks_s/project-img-balenciaga/project-img-balenciaga
            include ../../blocks_s/fact__Balenciaga/fact__balenciaga