@import ../../blocks_s/fact__strategy/factProject
@import ../../blocks_s/project-img-balenciaga/project-img
@import ../../blocks_s/project-img-3d/project-img-reverse
@import ../../blocks_s/review1/review-project
@import ../../blocks_s/review1/review-reverse
@import ../../blocks_s/project-img-3d/project-img-reverse
@import ../../blocks/project2/project-reverse
@import ../../blocks_s/title/title
    
.project
    position: relative
    padding-top: 301px
    margin-bottom: 65px

    +media($lg)
        padding-top: 50px

.project-inner 
    display: flex

    +media($xl)
        flex-direction: column-reverse
        justify-items: center
        align-items: center
    
.project.tree
    margin-bottom: 190px
    +media($lg)
        margin-bottom: 40px