section.hero
    .container
        include ../../blocks_s/menu/menu
        
        .hero-title
            .hero-title__place a place where
            .hero-title__first A creative agency for redemptive brands
            .hero-title__second Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
            .hero-title__link
                a(href='#') &nbsp;&nbsp;Get in touch

    .spons
        .spons-box 
            img(src='./images/andrew.avif')
        .spons-box 
            img(src='./images/jalen-rose.avif')
        .spons-box 
            img(src='./images/wal.avif')
        .spons-box 
            img(src='./images/ideal.avif')
        .spons-box 
            img(src='./images/phalen.avif')