.review
    .review-box
        .review-box__text “Exhibit Systems is not a provider. They are not a supplier. They are a partner with expertise in making trade shows effective.”
        .review-box__who
            .review-box__who-img
                img(src='../images/oval-eunice.avif')
            .review-box__who-name
                .review-box__who-name__first Eunice Oliver
                .review-box__who-name__second Founder & CEO, Zeem