include ../components/head 

body
    include ../blocks/hero/hero
    include ../blocks/message/message
    include ../blocks/project1/project
    include ../blocks/project2/project
    include ../blocks/project3/project



    include ../components/footer 