.fact
    .fact-title What we do for you
    .fact-main Strategy. Design  Content. Technology Development 
    .fact-text There’s no secret sauce, no wizard behind the curtain. What makes Aerolab tick is an interdisciplinary team with a framework that fosters candid collaboration.
    .yellow-link 
        a(href='#') &nbsp;&nbsp;More know About us