.review
    .review-box
        .review-box__text “I know they are going to be honest with me. I am not going to get a subpar product; I know it is going to be good. That is the number one advantage of working with Exhibit Systems.
        .review-box__who
            .review-box__who-img
                img(src='../images/oval-lina.avif')
            .review-box__who-name
                .review-box__who-name__first Lina Hart
                .review-box__who-name__second Founder & CEO, Jico