
.fact
    .fact-main  Is this the future of Online Booking
    .fact-text You should be able to find several indispensable facts about motivation in the following paragraphs. <br><br>If there’s at least one fact you didn’t know before, imagine the difference it might make.
    .yellow-link 
        a(href='#') &nbsp;&nbsp; See Case Study 