section.ideas 
    .container 
        include ../../blocks_s/title2/title
        .ideas-box
            include ../../blocks_s/ideas-item__product/ideas-item 
            include ../../blocks_s/ideas-item__scoping/ideas-item 
            include ../../blocks_s/ideas-item__ux/ideas-item 
            include ../../blocks_s/ideas-item__code/ideas-item 